.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  height: 300px;
  background-color: #8e0000;
}

.item-1 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: darkgoldenrod;
}

.item-2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: green;
  z-index: 10;
}

.item-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  background-color: #080032;
  z-index: 10;
}

.item-4 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;  
  background-color: #5b3301
}