* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);

  grid-auto-flow: row; /* Default */
  grid-auto-flow: column;

  gap: 24px; 

  direction: ltr; /* De izquierda a derecha */
  direction: rtl; /* De derecha a izquierda */

  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding: 24px;
  background-color: #8053ce;
}

.item {
  color: azure;
  text-align: center;
  background-color: #250164;
}